<footer>
    <div class="container">
        <div class="footer-links">
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/about' | relative_url }}">About Us</a>
            <a href="{{ '/watch' | relative_url }}">Watch Sermons</a>
            <a href="{{ '/beliefs' | relative_url }}">What We Believe</a>
            <a href="events">Events</a>
        </div>
        <div class="contact">
            <p>514 N Kansas Ave, Liberal, KS</p>
            <p>(620)-624-7565</p>
            <p>faithtab1973@gmail.com</p>
        </div>
        <div class="social-links">
            links
        </div>
        <p>&copy; 2024 Faith Tabernacle Church. All rights reserved.</p>
    </div>
</footer>
