<footer class="site-footer">

    <div class="footer-container">

        <div class="footer-column footer-brand">
            <h2>Faith Tabernacle Church</h2>
            <p>
                A Bible-believing church in Liberal, Kansas
            </p>
            <p>
                Glorifying God and Loving Our Community
            </p>
        </div>


        <div class="footer-column">
            <h3>Visit Us</h3>
            <p>
                514 N Kansas Ave<br>
                Liberal, Kansas
            </p>

            <p>
                <a href="mailto:faithtab1973@gmail">
                        faithtab1973@gmail.com
                    </a>

            </p>
        </div>


        <div class="footer-column">
            <h3>Service Times</h3>

            <p>
                Sunday School<br>
                9:00 AM
            </p>

            <p>
                Worship Service<br>
                10:00 AM
            </p>

            <p>
                Wednesday "Called to Pray"<br>
                7:00 PM
            </p>
        </div>

    </div>


    <div class="footer-bottom">
        © 2026 Faith Tabernacle Church
    </div>

</footer>
