<header>
        <nav>
        <div class="logo">
            <a href="index.html"><IMG SRC="images/logo.png" alt="church logo"></a>
        </div>
        <div class="nav-links">
            
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/about' | relative_url }}">About Us</a>
            <a href="{{ '/watch' | relative_url }}">Watch Sermons</a>
            <a href="{{ '/beliefs' | relative_url }}">What We Believe</a>
            <a href="events">Events</a>
        </div>
        </nav>
</header>

