---
layout: page
---
    <section class="light-section">
        <div class="container">
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
        </div>
    </section>

    <section class="grey-section">

        <div class="container">

            <div class="two-columns">
                <div class="column">  
                  <div class="light-section-text-box">
                  <h2>{{ page.section-a }}</h2>
                  <p>{{ page.section-a-text }}</p>
                  </div>
                </div>
                <div class="column">
                  <div class="light-section-text-box">
                  <h2>{{section-b }}</h2>
                  <p>{{ section-b-text }}</p>
                  </div>
              </div>  
            </div>
        </div>
        
    </section>


  
    <section class="grey-section">
        
        <div class="container">
          
            <div class="two-columns">
                <div class="column">  
                <div class="grey-section-text-box">
                  <h2>{{ section-c }}</h2>
                  <p>{{ section-c-text }}</p>
                </div>
                </div>
            </div>
        </div>        
    </section>
    <section>
        <div class="feature-image"></div>

    </section>
