---
---
<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | Faith Tabernacle Church</title>
    <description>{{ page.description }}</description>
    <link rel="stylesheet" href="{{ 'style.css' | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    {% include nav.html %}
    {{ content }}

    {% include footer.html %}
</body>
</html>
