---
layout: default
title: Watch Sermons
---

    {% include nav.html %}
    <section class="light-section-title">
        <div class="container">
            <h2>Watch Sermons</h2>
            <p>Welcome to Faith Tabernacle Church! We are a vibrant community of believers dedicated to growing in our relationship with God and serving our neighbors.</p>
        </div>
    </section>

    {% assign latest = site.sermons | sort: "date" | reverse | first %}
    <Section class="feature-sermon">
        <div class="container">

            <div class="feature-title">
                <h2>
                    {{ latest.title }}
                    <span class="divider">-</span>
                    <span class="scripture">{{ latest.scripture }}</span>
                    <span class="divider">-</span>
                    <span class="date">{{ latest.date | date: "%B %-d, %Y"  }}</span>
                </h2>
            </div>

            <div class="feature-video">
                <iframe 
                    src="https://www.youtube.com/embed/{{ latest.youtube }}" 
                    title="{{ latest.title }}" 
                    frameborder="0" 
                    allowfullscreen>
                </iframe>
            </div>
            
            <div class="feature-description">
                <p><strong>Description:</strong></p>
                <p>{{ latest.description }} </p>
            </div>
        </div>
    </Section>

    <section class="explore-sermons">
        <div class="container">
            <h2>Browse More Content</h2>
            <p>Watch other recent sermons or browse through sermon topics</p>
            <hr>
            <div class="sermon-grid">
            {% assign sermons = site.sermons | sort: "date" | reverse %}

            {% for sermon in sermons offset:1 limit:6 %}

                    <div class="sermon-card">
                        <h3>{{ sermon.title }}</h3>
                        <p>{{ sermon.scripture }}</p>
                        <p>{{ sermon.date | date: "%B %-d, %Y" }}</p>
                        <a class="button" href="{{ sermon.url | relative_url }}">Watch</a>

                    </div>
                {% endfor %}                    
            </div>
        </div>
    </section>
